form#search-order {
  width: 145px;
  img {
    position: absolute;
    margin: -5px 0 0 5px;
  }
  input {
    color: #666;
  }
  button {
    float:right;
    margin: 10px -10px 20px 15px;
  }
}
div#orders { 
  margin: -6px 0 0 0;
  ul { 
    padding:0px;
    li {
      display:inline;
      margin-right: 15px;
    }
  }
}
iframe::-webkit-scrollbar {
  display: none;
}
form#create-customer {
  select, input {
    margin-bottom:10px;
    width: 90%;
    padding: .4em;
    color: #999;
  }
  button {
    float:right;
    margin: 0 20px 0 -10px;
  }
}
div#loader {
  background: app-asset-url("loader.gif") 0 0 no-repeat;
}